In [34]:
import pandas as pd

In [35]:
tipos = {'Trama':str, "con ruido": str, "Intensidad":float,"chunk":int}
df = pd.read_csv("mensajes.csv", dtype=tipos)

In [36]:
df

     Unnamed: 0         Trama     con ruido  Intensidad  chunk
0             0  101010111110  101010111110    0.000795      4
1             1  100000100101  110111000111    0.546206      8
2             2  010110101111  101001010010    0.931932     16
3             3  111101010100  111101101100    0.337508      4
4             4  010011100101  100100011010    0.702837      8
..          ...           ...           ...         ...    ...
995         995  101111110100  101111110100    0.017402     16
996         996  000001000101  011110111011    0.966291      4
997         997  101100111000  101101001101    0.421332      8
998         998  000001011011  111110100100    0.919235     16
999         999  010111010111  101000000100    0.801018      4

[1000 rows x 5 columns]

In [37]:
coincidencia = df['Trama'] == df['con ruido']
sum(coincidencia)

73

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Trama       1000 non-null   object
 2   con ruido   1000 non-null   object
 3   Intensidad  1000 non-null   float64
 4   chunk       1000 non-null   int32
dtypes: float64(1), int32(1), int64(1), object(2)
memory usage: 35.3+ KB

In [40]:
df.describe()

        Unnamed: 0   Intensidad        chunk
count  1000.000000  1000.000000  1000.000000
mean    499.500000     0.503982     9.328000
std     288.819436     0.286842     4.991726
min       0.000000     0.000636     4.000000
25%     249.750000     0.261047     4.000000
50%     499.500000     0.503606     8.000000
75%     749.250000     0.751948    16.000000
max     999.000000     0.997796    16.000000

In [41]:
correlacion_spearman = df['chunk'].corr(df['Intensidad'], method='spearman')

In [42]:
correlacion_spearman

0.0017603813489770546

In [43]:
correlacion = df['chunk'].corr(df['Intensidad'])
correlacion

0.012149879441490269